// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

html {
    background-color: #FFD6B4;
}

.navbar {
    box-sizing: border-box;
    display: flex;
    padding: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.item {
    text-align: center;
    width: 20%;
}

.intro {
    background-color: #FF953C;
    box-sizing: border-box;
    width: 80%;
    padding: 15px;
    margin: 3em;
    height: 500px;
}

h1 {
   color: #2B025C;
    font-weight: 600;
    font-size: 5em;
    margin-left: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: OpenSans;
    font-style: italic;   
}

p {
    color: white;
    font-family: helvetica neue;
    font-size: 20px;
    font-weight: 100;
    margin-left: 20%;
     margin-right: 20%;
    
}

h2 {
    display: grid;
    background-color: #FF953C;
    padding: 15px;
    margin: 2em;
}



/*
.navbar {
    margin-left: 70%;
    display: flex;
    justify-content: space-between;
}

.headertitle {
    display: flex;
    justify-content: flex-start;
}*/
